@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

html, body {
  font-family: 'Open Sans', sans-serif;
  margin-left: : 200px;
  padding: 100px;
}

.sidenav {
  height: 100vh;
  width: 200px;
  position: fixed;
  float: left;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #1B1355;
  display: block;
}

.sidenav a:hover {
  color: #BC8030;
  text-decoration: underline;
  text-decoration-color: #BC8030;
}

.navheader {
  float:left;
}

.copyright {
  font-size: 12px;
  padding: 50px 8px 6px 16px;

}

.top{
  width: 100%;
  margin-left: 0; /* Same as the width of the sidenav */
  padding: 0px 20px;
  height: 800px;
  background-image: url(../images/nightsky_top.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;

}

.text-content {
   /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
/* code left from animation
.banner {
	display: block;
	min-height: 200px;
	width: 100%;
	position: relative;
}
.typed_wrap {
	display: block;
	border: 4px solid #ecf0f1;
	width: 100%;
	height: auto;
	padding: 30px;
  color: white;
	centers it in the .banner
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

}
.typed_wrap h1 {
	display: inline;
  color: white;
}

Add custom cursor so it auto inherits font styles
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
  color: white;
}

Removes cursor that comes with typed.js
.typed-cursor{
   opacity: 0;
	display: none;
}
Custom cursor animation
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
*/
.btns {
	display: block;
	width: 400px;
	margin: 0;
	padding: 30px 0 0 30px;
}
.btns a {
	display: inline-block;
	margin-left: 5px;
}
.btns a:first-child{margin-left:0}
.btn {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #ecf0f1;
	text-decoration: none;
}
a .btn {
	cursor: pointer;
	border: 1.5px solid #ecf0f1;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	list-style-type: none;
	transition: all .3s;
}

.btn:hover {
	background: #ecf0f1;
	color: #34495e;
}
/*our story*/

.our-story {
  background: white;
  padding: 50px;
  margin: 20px 20px 0 0;
}

.story-image {
    float: left;
    display: inline-block;
}
.story-thumb img {
    display: inline-block;
}
.story-content {
    margin-left: 210px
}
.story-title {
    font-weight: bold;
    font-size: 200%
}

.locations {
  background: #f2f2f2;
}

.locationdivleft {
  float: left;
}
.locationdivright {
  float: right;
}

.hours {
  background-image: url(../images/nightsky_middle.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}
/*subscription code*/
/* Items: horizontal flex
   ======================
*/
.subscriptions {
background-color: #bc8030;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  flex-basis: calc(33.3% - (2em/3));
  margin-bottom: 1em;
}


/* Item: vertical flex
   ===================
*/

.item {
  display: flex;
  flex-direction: column;
}

.item__image {
  flex-basis: 10em;
}

.item__heading {
  flex-basis: 5em;
}

/* Item heading: vertical flex
   ===========================
*/

.item__heading,
.item__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Item image: do not overflow
   ===========================
*/

.item__image {
  overflow: hidden;
}


/* Not so important CSS - base styles:
   ===================================
*/

body {
  margin: 2rem;
}

img {
  max-width: 50%;
  height: auto;
}

h2,
p {
  margin: 0;
  padding: 0;
}



.item__heading {
  padding: 1rem;
  font-size: 1rem;
}

.meta {
  margin-bottom: 3rem;
}

.meta p {
  margin-bottom: .5rem;
}

/*subscripion code ends*/

.table{
  max-width: 50%;
}

.brews {
   display: inline-block;
   padding: 25 px;
   white-space: nowrap;
}
.contact {
  background-image: url(../images/nightsky_bottom.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}


/*calender div*/
table { width: 100%; box-sizing: border-box; box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1); float:right; /*border-collapse: collapse;*/ border-spacing: 0; background-color: #333333; }

th, td { border: 1px solid rgba(255,255,255,0.1); box-sizing: border-box; }

th { text-transform: uppercase; font-size:10px; font-weight:700; padding: 10px 0; color: rgba(255,255,255,0.5); background-color: #292929; letter-spacing: 1px; }

td { width: 14.285%; transition: all 0.3s; font-size: 14px; color: rgba(255,255,255,0.6); font-weight: 400; font-size: 14px; padding: 1.5% 1.5% 5%; vertical-align: initial; padding: 1.5% 0 ; height: 75px; }

.day:hover { background-color: rgba(0,0,0,0.1); cursor:pointer; }

.today { color: #FFF; background-color: rgba(0,0,0,.25) !important; }

span.number { margin-left: 10% }

span.event { height: 4px; background-color: rgba(0,0,0,.3); display: block; margin: 5px 10%; border-radius: 2px; background-color: #91c33b; }

span.event-multiday { margin: 5px -2px; border-radius: 0; }
span.event-multiday-start { margin-right: -4px;  }
span.event-multiday-finish { margin-left: -4px;  }

span.event-ghost { background-color:transparent; }


/*form code*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #1B1355;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #BC8030;
}
.formdiv {
  border-radius: 5px;
  padding-left: 20px;
  margin: 60px;
  float: right;
  height: 100px;
  width: 600px;
  margin-bottom: 300px;
  background: transparent;
}
